ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width:100%;
    height: 100%;
    overflow: hidden;
    background-color: #333; 
}
nav{
  
    width: 100%;
    height: 50px;
}
li {
    color: white;
    font-size: 1.5em;
    float:right;
 
}
.title{
    color: white;
    float:left;
    font-size: 1.8em;
   
}
li a{
    display:block;
    color: white;
    text-align: center;
    padding: 0.3em 0.8em;
}
li a:hover{
    background-color: #111;
    border-radius: 0 0 6px 6px;
}

.grid{
    width: 80%;
    text-align:center;
    align-items: center;
    margin: 0 10%;
    display:grid;
    grid-template-columns: 27% 27% 27%;
    grid-gap: 0 10%;
}

.grid p {
    background: rgba(34, 224,150, 0.4);
    border-radius: 12px;
    height: 50%;

}

.espec:nth-child(even){
    background-color: rgba(201,210,255, 0.45);
}
