.cadastro-user{
    width: 100%;    
    height: 350px;     
    text-align: center;
    align-items: center;
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;  
    justify-content: center;
    
}
.cadastro-user input, .select-user{
    width: 150%;
    border: 1px solid black;
    filter: opacity(0.8);
    border-radius: 8px;
    height: 2.1em;
    
    font-size: 1.2em;
}
.cadastro-user button{ 
    width: 80%;
    border:none;
    margin:  5% 30%;
    border-radius: 8px;
    height: 2.2em;
    font-size: 1em;    
    background-color: rgba(0, 223, 169, 0.7)
}
.select-userMed  {
    width: 150%;
}
